* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Square Peg', cursive;
}
header {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 8rem;   
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding: 10px;
}
.container img {
    border-radius: 20px;
    margin: 20px;
    width: 30%;
}
.inputContainer{
    display: flex;
    justify-content: center;
    gap: 15px;
}
input{
    margin-top: 4%;
    width: 60px;
    height: 30px;
    text-align: center;
    border: solid 2px rgb(96, 94, 228);
}
label{
    font-size: 30px;
    font-weight: bold;
    margin-top: 3.5%;
}
.random-cat-button {
    align-items: center;
    color: rgb(96, 94, 228) ;
    background-color: rgb(17, 17, 17);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    padding: 12px;
    width: 200px;
    height: auto;
}
.random-cat-button:hover {
    color: black;
    border: 5px solid rgb(85, 83, 200);
    background-color: rgb(96, 94, 228);
}
