* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Square Peg', cursive;
}
header {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 8rem;   
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding: 10px;
}
.container .imagesCat {
    border-radius: 20px;
    margin: 0% 0% 2% 0%; 
    width: 30%;
}
.inputContainer{
    display: flex;
    justify-content: center;
    gap: 15px;
}
input{
    margin-top: 4%;
    width: 60px;
    height: 30px;
    text-align: center;
    border: solid 2px rgb(96, 94, 228);
}
label{
    font-size: 30px;
    font-weight: bold;
    margin-top: 3.5%;
}
.random-cat-button {
    align-items: center;
    color: rgb(96, 94, 228) ;
    background-color: rgb(17, 17, 17);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    padding: 12px;
    width: 200px;
    height: auto;
}
.random-cat-button:hover {
    cursor: pointer;
    color: black;
    border: 5px solid rgb(85, 83, 200);
    background-color: rgb(96, 94, 228);
}
.imagesContainer{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}
.imagesCat{
    flex: none;
}
.favoriteButton{
    position: relative;
    top: 8px;
    right: 30px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
} 

.favoriteButton:hover{
    border:solid 2px black;
}
.colorIcon{
color:rgb(96, 94, 228);
}
.random-cat-button:hover .colorIcon{
color:rgb(0, 0, 0);
}
.random-cat-button:active {
    -webkit-box-shadow: 0 3px 5px #1b1b1b inset;
    box-shadow: 0 3px 5px #1b1b1b inset;
}

.uploadContainer{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input-file__input {
    display: none;
}

.input-file__btn {
    width: 80%;
	height: 40px;
    padding: 6px 12px;
    border-radius: 17px;
}
.input-file__field{
    width: 80%;
	height: 40px;
    padding: 6px 32px;
    border-radius: 10px;
}

.input-file__btn {
    background-color: rgb(17, 17, 17);
    border: 5px solid rgb(0, 0, 0);
    color: rgb(96, 94, 228);
    width: 110px;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
}

.input-file__btn:hover {
    border: 5px solid rgb(85, 83, 200);
    background-color: rgb(96, 94, 228);
    color: #1b1b1b;
}

.input-file__btn:active {
    -webkit-box-shadow: 0 3px 5px #1b1b1b inset;
    box-shadow: 0 3px 5px #1b1b1b inset;
}

.input-file__field {
    border: 1px solid #1b1b1b;
    width: calc(100% - 182px);
    margin-right: 12px;
    line-height: 70px;
    
    overflow-x: hidden
}

.input-file--reverse .input-file__field {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 0;
    margin-left: 12px;
}

@media screen and (max-width: 575px) {
    .input-file__field {
        width: 100%;
        margin-right: 0;
        margin-bottom: 6px;
    }

    .input-file--reverse {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .input-file--reverse .input-file__field {
        margin-left: 0;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
}

.footer{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 40px;
    color: #000000;
}
.git{
    text-decoration: none;
    padding-left: 2px;
}


